<title>
  <%= gettext("%{subnetwork} Analog Blockchain Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="<%= gettext "Analogscan enables the exploration and search of the Analog blockchain for transactions, addresses, tokens, and other activity occurring on Analog (ANA)", subnetwork: LayoutView.subnetwork_title() %>">
<meta name="keywords" content="Blockchain, Transaction, Analog, INRx, api, analytics, address, smart contract">
